<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Katari CRUD-LogIn</title>

    <!-- Latest compiled and minified CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/signin.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Katari CRUD</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <form class="navbar-form navbar-right" action="{{ url_for('login') }}" method="POST">
              {{ form2.csrf_token }}
            <div class="form-group">
                {{ form2.username(placeholder="Username", class="form-control") }} <br>
              </div>
              <div class="form-group">
                {{ form2.password(placeholder="Password", class="form-control") }} <br>
              </div>
              <button type="submit" class="btn btn-success">Log in</button>
            </form>
          </div><!--/.navbar-collapse -->

        </div>
   </nav>
   {% if loginError %}
     <div class="alert alert-custom alert-danger container" role='alert'>
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <span class='sr-only'>Error:</span>
       {{ loginError }}
     </div>
   {% endif %}
<!--/.Container SignIn -->

    <br><br><br>
    <div class="container">
      <form class="form-signin" method="POST" action="{{ url_for('register') }}">
        {{ form1.csrf_token }}
        <h2 class="form-signin-heading">Please Sign Up</h2>
          {{ form1.fullname(placeholder="Full Name", class="form-control") }} <br>
          {{ form1.username(placeholder="Username", class="form-control") }}<br>
          {{ form1.email(placeholder="Email", class="form-control")}}<br>
          {{ form1.password(placeholder="Password", class="form-control")}}<br>
          {{ form1.confirm(placeholder="Re-enter Password", class="form-control")}}
              <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button><br>
            <!-- Showing the error -->
            {% if form1.fullname.errors %}
              {% for error in form1.fullname.errors %}
              <div class="alert alert-danger" role='alert'>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class='sr-only'>Error:</span>
                {{ error }}
              </div>
                {% endfor %}
            {% endif %}

            <!-- Showing the error Username -->
            {% if form1.username.errors %}
              {% for error in form1.username.errors %}
              <div class="alert alert-danger" role='alert'>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class='sr-only'>Error:</span>
                {{ error }}
              </div>
                {% endfor %}
            {% endif %}

            <!-- Showing the error email -->
            {% if form1.email.errors %}
              {% for error in form1.email.errors %}
              <div class="alert alert-danger" role='alert'>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class='sr-only'>Error:</span>
                {{ error }}
              </div>
                {% endfor %}
            {% endif %}

            <!-- Showing the error password -->
            {% if form1.password.errors %}
              {% for error in form1.password.errors %}
              <div class="alert alert-danger" role='alert'>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class='sr-only'>Error:</span>
                {{ error }}
              </div>
                {% endfor %}
            {% endif %}

            {% if registerError %}
              <div class="alert alert-danger" role='alert'>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class='sr-only'>Error:</span>
                {{ registerError }}
              </div>
            {% endif %}
      </form>

</div>

<!-- Footer -->
<footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Katari 2016
                </div>
            </div>
        </div>
</footer>

  <!-- Latest compiled and minified JavaScript  and jquery-->
  <script src='../static/js/jquery.js'></script>
  <script src='../static/js/bootstrap.min.js'></script>

  </body>
</html>
